In [3]:
print("Hello, My name is Phanuth HUN u can call me Steven")
print("I am 20 years old")
print("I am studying at CUS in Computer Science major and and currently pursuing Air Traffic Management")
print("My hobbies are playing football, playing video games, and traveling")

Hello, My name is Phanuth HUN u can call me Steven
I am 20 years old
I am studying at CUS in Computer Science major and and currently pursuing Air Traffic Management
My hobbies are playing football, playing video games, and traveling

In [4]:
# This is a single-line comment
print("Hello, world!") # This is an inline comment

Hello, world!

In [ ]:
"""
This is a multiline string.
It can be used as a comment if not assigned to a variable.
"""
def example_function():
    pass

In [7]:
print(123)
print(2.2)

123
2.2

In [8]:
print(2+2-1+3)

6

In [13]:
print("A"*3)

AAA

In [15]:
print("Hello, World!")
name = "Steven"*5
print(name)

age = 20
print("Name:", name, "Age:", age)

Hello, World!
StevenStevenStevenStevenSteven
Name: StevenStevenStevenStevenSteven Age: 20

In [16]:
print('Hello',"world", sep=",")

Hello,world

In [18]:
a=10; a+=10; print(a)

20

In [ ]:
a=10
a+=10
print(10)